body {
    background-color: rgb(86, 77, 112);
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.output {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.parent1 button {
    width: 60px;
    background-color: aqua;
    border-radius: 10px;
}